@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="calculator">
        <p class="result"></p>
        <div class="buttons">
            <button>!</button>
            <button>^</button>
            <button>√</button>
            <button>Pi</button>
            <button>e</button>
            <button class="clear">C</button>
            <button>sin</button>
            <button>(</button>
            <button>)</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>cos</button>
            <button>lg</button>
            <button>&lt;-</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>tan</button>
            <button>+</button>
            <button>-</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>ln</button>
            <button>/</button>
            <button>*</button>
            <button>0</button>
            <button>.</button>
            <button class="equal">=</button>
        </div>
    </div>
</div>














@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <!-- Optional theme -->
        <!-- <link rel="stylesheet" type="text/css" href="D:/bootstrap/dist/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>*@


@*col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2
col-xs-2 col-sm-2 col-md-2 col-lg-2*@

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="~/js/common.js"></script>
</body>
</html>*@
